<!DOCTYPE html>
<html>
<head>
    <title>Amazon Product Review Sentiment Analysis</title>
</head>
<body>

    <h1>Amazon Product Review Sentiment Analysis</h1>

    <form method="POST">

        <textarea
            name="review"
            rows="10"
            cols="60"
            placeholder="Enter your review here"></textarea>

        <br><br>

        <button type="submit">
            Predict Sentiment
        </button>

        {% if prediction %}
        
        <h2>
            Predicted Sentiment: {{ prediction }}
        </h2>
        
        {% endif %}
    </form>

</body>
</html>